.aboutContainer{
    
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /* max-width: 1160px; */
    padding: 0 60px;
    margin: auto;
    flex-wrap: wrap;
    background-color: black;
}
.projectDescriptionContainer{
    width: calc(50% - 80px);
    min-width: 150px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.titles{
    font-family: Space Grotesk;
    font-weight: 600;
    color: white;
}
.randomImageContainer{
    
    padding: 20px;
    width:300px;
   height: auto;
   
}


.imageSection{
    min-width: 100px;
    width:100%;
   height: auto;
  border-radius: 1rem;
}


@media (max-width: 600px){
    .projectDescriptionContainer{
        width: 100%;
        min-width: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
    }
    .titles{
        font-family: Space Grotesk;
        font-weight: 600;
        color: white;
       
        width: 100%;
        min-width: 100%;
    }

    .aboutContainer{
    
      
        /* max-width: 1160px; */
        padding: 0 60px;
        margin: auto;
        
        background-color: black;
    }
    
}