


.aboutContainer{
   
   position: relative;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /* max-width: 1160px; */
    margin-right:60px;
    margin-left: 60px;
   top:-100px;
  /*  margin-bottom: 50px; */
    background-color:black;
    /* background-color:#01030d; */
    
}


.projectDescriptionContainer{
   /*  width: calc(50% - 80px);
    min-width: 260px; */
   
    text-align: justify;
    background-color: #04091a;
    /* border-radius: 10px; */
   
    
}

.bigTitle{
    font-family: 'Orbitron';
    background: linear-gradient(
        90deg
        ,#fe1393,#fe1393);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left; 
    font-size: 1.6rem;
    font-weight: bold;
           
}

.subrayado{
    font-family: 'Inconsolata';
    background: linear-gradient(
        90deg
        ,#fe1393,#fe1393);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left; 
  font-weight: bold;
    
           
}
.titles{
    font-size:19px;
   font-family: 'Inconsolata';
    color: white;
    text-align: justify;
   padding:30px;
    
   
}
.titles2{
    font-family: 'Orbitron';
   
    color: white;
    text-align: justify;
   
   
}
.randomImageContainer{
    display: flex;
    flex: 1;
    margin-left: 50px;
    width:300px;
   height: auto;
   max-width: 500px;

}


.imageSection{
    min-width: 100px;
    width:100%;
   height: auto;
  border-radius: 1rem;
  max-width: 500px;
}



@media (max-width: 622px){
    .projectDescriptionContainer{
        width: 100%;
        min-width: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: justify;
    }

    


    .titles{
        
        /* font-family: Space Grotesk; */
        font-weight: 200;
        color: rgb(255, 255, 255);
      
        /* width: 100%; */
        /* min-width: 100%; */
    }
    
    .aboutContainer{
        margin: 0;
        padding: 0 30px;
        top:-80px;
        
      
    }

    .randomImageContainer{
       
        width:100px;
    
       
    
    
    }

    
}