

.aja{
    --slider-height-percentage: 60%;
--slider-transition-duration: 525ms;
--organic-arrow-thickness: 4px;
--organic-arrow-border-radius: 0px;
--organic-arrow-height: 40px;
--organic-arrow-color: #26456f;
--control-button-width: 10%;
--control-button-height: 25%;
--control-button-background: transparent;
--control-bullet-color: #2d5182;
--control-bullet-active-color: #26456f;
--loader-bar-color: #851515;
--loader-bar-height: 6px;
min-width: 200px;
max-height: 600px;
margin: 40px;

}

.aboutContainer{
    
   
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /* max-width: 1160px; */
    padding: 0 40px;
   
   margin-bottom: 50px;
    background-color:black;
    /* background-color:#01030d; */
    
}
@media (max-width:900px) {
    .aboutContainer{
flex-wrap: wrap;
    }
}
@media (min-width:900px) {
    .aja{
        min-width: 450px;
    }
}
.projectDescriptionContainer{
   /*  width: calc(50% - 80px);
    min-width: 260px; */
    margin-top: 100px;
    
    text-align: justify;
    background-color: #04091a;
    /* border-radius: 10px; */
    padding: 20px;
    
}

.bigTitle{
    font-family: 'Orbitron';
    background: linear-gradient(
        90deg
        ,#fe1393,#fe1393);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left; 
    font-size: 1.6rem;
    font-weight: bold;
           
}
.titles{
    font-size:20px;
   font-family: 'Orbitron';
    color: white;
    text-align: justify;
   padding:30px;
    
   
}
.titles2{
    font-family: 'Orbitron';
   
    color: white;
    text-align: justify;
   
   
}
.randomImageContainer{
    display: flex;
    flex: 1;
    margin-left: 50px;
    width:300px;
   height: auto;
   max-width: 500px;

}


.imageSection{
    min-width: 100px;
    width:100%;
   height: auto;
  border-radius: 1rem;
  max-width: 500px;
}



@media (max-width: 622px){
    .projectDescriptionContainer{
        width: 100%;
        min-width: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: justify;
    }

    


    .titles{
        
        /* font-family: Space Grotesk; */
        font-weight: 200;
        color: rgb(255, 255, 255);
      
        width: 100%;
        min-width: 100%;
    }
    
    .aboutContainer{
   
        padding: 0 30px;
      
      
    }

    .randomImageContainer{
       
        width:100px;
    
       
    
    
    }

    
}