.RoadMapContainer{
    padding:10%;
    background-color:#01030d;
}
.RoadMapTitle{
background: linear-gradient(
    90deg
    ,#25abd0,#ff79a800);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
}


.RoadMapIntro{
    color: rgb(175, 190, 217);
}

.numerStyle{
    background: linear-gradient(
        90deg
        ,#25abd0,#ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left; 
    font-size: 1.2rem;
    font-weight: bold;
}

.descriptionStyle{
    text-align: left; 
     color: rgb(175, 190, 217);
}

.RoadMapSteps{
    background-color: #04091a;
    padding: 30px;
    margin: 10px;
    /* display: block; none */
}