.RoadMapContainer{
    padding: 0 40px;
    background-color:#01030d;
    margin-top:50px;
}
.RoadMapTitle{
    background: linear-gradient(
        90deg
        ,#fe1393,#ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center; 
            font-size: 1.5rem;
    font-weight: bold;
}


.RoadMapIntro{
    color: rgb(175, 190, 217);
}

.numerStyle{
    background: linear-gradient(
        90deg
        ,#fe1393,#ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left; 
    font-size: 1.2rem;
    font-weight: bold;
}

.descriptionStyle{
    text-align: left; 
     color: rgb(175, 190, 217);
     font-family: 'Orbitron';
     display:none
}
.descriptionStyleactive{
    text-align: left; 
     color: rgb(175, 190, 217);
     font-family: 'Orbitron';
     display:block
}

.RoadMapSteps{
    background-color: #04091a;
   
    margin: 10px;
    cursor: pointer;
   
    padding: 20px;
    /* display: block; none */
}