.RoadMapContainer{
    position: relative;
    top:-100px;
    margin: 0 40px;
    /* background-color:#01030d; */
    background-color:black;
    
   
}

@media (max-width: 622px){
    .RoadMapContainer{
        top:100px;
    }
}
.RoadMapTitle{
    font-family: 'Orbitron';
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
   
    margin-bottom: 20px;
}


.RoadMapIntro{
    color: rgb(175, 190, 217);
}

.numerStyle{
    font-family: 'Orbitron';
    background: linear-gradient(
        90deg
        ,#fe1393,#ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left; 
    font-size: 1.2rem;
    font-weight: bold;
}

.descriptionStyle{
    text-align: left; 
     color: rgb(175, 190, 217);
     font-family: 'Inconsolata';
     display:none;
    
}
.descriptionStyleactive{
    text-align: left; 
     color: white;
     font-family: 'Inconsolata';
     display:block;
     font-size:18px;
}

.RoadMapSteps{
    background-color: #04091a;
   
    margin-bottom: 10px;
    cursor: pointer;
   
    padding: 20px;
    /* display: block; none */
}