.footerContainer{
            position: relative;
            top:-100px;
        align-self: center;
        
        
        /* max-width: 1160px;
        ; */
        
       
}
.logoFooter{
    height: 100px;
    width: 100px;
    object-fit: cover;
   

}
.rights{
    color: white;
}




@media screen and (max-width: 700px){
    .footerContainer{
        top:0px
    }
}