.footerContainer{
  
        align-self: center;
        
        
        /* max-width: 1160px;
        ; */
        
       
}
.logoFooter{
    height: 100px;
    width: 100px;
    object-fit: cover;
   

}
.rights{
    color: white;
}


@media (min-width: 500px) {
    .joinCommunityContainer {  min-height:65vh; }
    .footerContainer{
        padding-bottom: 300px;
   }

  }