
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  
}
@font-face {
  font-family: 'font-orbitron';
  src: url('/fonts/orbitron-light.ttf');
 }