.backgroundcontainer {
    position: fixed;
    display: flex;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
  }
  .videoContainer {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  #bgVideo {
    flex: 1;
    background-color: #000;
    opacity: 1;
    visibility: visible;
  }
  .scrollContainer {
    overflow: hidden;
  }
  .step {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .step > div {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 2px 2px #000;
    height: 100vh;
    width: 100%;
    color: #fff;
    opacity: 1;
  }