.container {
  padding: 0;
  margin: 0;
  background-color:black;
 /*  background-color:#01030d; */
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  text-align: center;

}

.about{
  height: 10000000px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin-top:-10px;
  padding: 30px;
}
.titleContainer{
  margin-top: 50px;
  /* background-color:#01030d; */
  background-color:black;
}
.titleTeam{
  font-family: 'Orbitron';
  background: linear-gradient(
      90deg
      ,#fe1393,#fe1393);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -ms-background-clip: text;
          -o-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center; 
  font-size: 1.5rem;
  font-weight: bold;
}

.metaText{
  font-weight: bold;
  color: #eff0f6;
  font-family: 'Orbitron';;
  font-size: 1.5rem;
  padding:20px;}

.caption{
  margin-top: 40px;
  text-align: center;
  padding:20px 50px;
}

.caption2{
  position: relative;
  margin-top: 40px;
  text-align: center;
  padding:20px 50px;
  left:45%;
  top:100px
}

.caption3{
  position: relative;
  margin-top: 40px;
  text-align: center;
  padding:20px 50px;
  left:45%;
  top:-40px
}

.caption4{
  position: relative;
  margin-top: 40px;
  text-align: center;
  padding:20px 50px;
  left:45%;
  top:-115px
}




.caption .border{
  background-color:white;
 
  color: #fe1393;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: 'Orbitron';
  font-weight: bold;
  
  border:1px solid #CCC;
  background: #04091a;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
/*   padding: 5px; */
  text-align: center;


    
  
}

/* .bigContainer{
  max-width: 1125px;
  padding: 0 80px;
  width:  50%;
  margin: 0 auto
} */

/*
.bigContainer{
  position: absolute; 
}
*/

/*edward*/
.bloquesContainer{
  background: #04091a;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;  
}

.bloquesContainerGlitchSolo{
  background: transparent;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;  
}

.dFlex{
  display: flex;
}

.dFlexImg{
  display: flex;
}

.dFlexImg img{
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

.dFlexGlicht {
  position: relative;
  margin-top: 40px;
  text-align: center;
  padding: 20px 50px;
  left: 45%;
}

.dFlexGlicht p{
  font-size: 1.125em;
  font-family: Raleway,sans-serif;
  font-weight: 700;
  min-width: 400px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
}

.textoIT{
  font-family: Orbitron;
  width: 50%;
}



.textoIT h1{
  font-family: Orbitron;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-gradient(linear,left top,right top,from(#fe1393),to(#fff));
  background: -webkit-linear-gradient(left,#fe1393,#fff);
  background: -moz-linear-gradient(left,#fe1393,#fff);
  background: linear-gradient(90deg,#fe1393,#fff);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
  padding: 20px 0 0 20px;
  margin-bottom: 10px;
}

.textoIT h2{
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
  padding: 0 20px;

}

.textoIT p{
  font-size: 19px;
  font-family: Inconsolata;
  color: #fff;
  text-align: justify;
  padding: 0 20px;
}

.textoIT3{
  font-family: Orbitron;
  width: 100%;
}

.textoIT3 h1{
  font-family: Orbitron;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-gradient(linear,left top,right top,from(#fe1393),to(#fff));
  background: -webkit-linear-gradient(left,#fe1393,#fff);
  background: -moz-linear-gradient(left,#fe1393,#fff);
  background: linear-gradient(90deg,#fe1393,#fff);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
  padding: 20px 0 0 20px;
  margin-bottom: 10px;
}

.textoIT3 h2{
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
  padding: 0 20px;

}

.textoIT3 p{
  font-size: 19px;
  font-family: Inconsolata;
  color: #fff;
  text-align: justify;
  padding: 0 20px;
}

.imgIT{
  width: 50%;
  padding: 30px 10px;
}



.imgIT img{
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

.imgIT3{
  width: 100%;
  padding: 30px 10px;
}

.imgIT3 img{
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

.imgITlogos img{
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}


.glowOnHoverH {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: 'Orbitron';
  font-weight: bold;
  font-size: larger;
}

.glowOnHoverH:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingH 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glowOnHoverH:active {
  color: #000
}

.glowOnHoverH:active:after {
  background: transparent;
}

.glowOnHoverH:hover:before {
  opacity: 1;
}

.glowOnHoverH:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowingH {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/*edward*/

@media (min-width: 1160px){
  .bigContainer{
   max-width: 1330px;
  padding: 0 80px;
  
  margin: 0 auto
  }
  
}
.videoMobile{
  
  display: none;
}
@media (max-width: 700px){
  .videoMobile{
      display: block;
      
  }

  .caption2 {
    left:38%;
   
    }
    .caption3{
      left:38%;
    }
    .caption4{
      left:38%;
    }


  
}


@media only screen and (max-width: 1172px) {
  .hideElement{
    display: none;
  }

}