.container {
  padding: 0;
  margin: 0;

  background-color:#01030d;
  min-height: 100vh;
  
  width: 100%;
  text-align: center;

}

.about{
  height: 10000000px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin-top:-10px;
  padding: 30px;
}
.titleContainer{
  background-color:#01030d;
}
.titleTeam{
  font-family: 'Orbitron';;
  background: linear-gradient(
      90deg
      ,#fe1393,#ffffff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center; 
  font-size: 1.2rem;
  font-weight: bold;
}

.caption{
  margin-top: 40px;
  text-align: center;
}

.caption .border{

 
  color: #fe1393;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: 'Orbitron';;
  /* display:inline-block; */
 /*  color:#444; */
  /* border:1px solid #CCC; */
/*   background:#DDD; */
/*   box-shadow: 0 0 5px -1px rgba(0,0,0,0.2); */
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
/*   padding: 5px; */
  text-align: center;

  
}