.container {
  padding: 0;
  margin: 0;
  background-color:black;
 /*  background-color:#01030d; */
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  text-align: center;

}

.about{
  height: 10000000px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin-top:-10px;
  padding: 30px;
}
.titleContainer{
  margin-top: 50px;
  /* background-color:#01030d; */
  background-color:black;
}
.titleTeam{
  font-family: 'Orbitron';
  background: linear-gradient(
      90deg
      ,#fe1393,#fe1393);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center; 
  font-size: 1.5rem;
  font-weight: bold;
}

.metaText{
  font-weight: bold;
  color: #eff0f6;
  font-family: 'Orbitron';;
  font-size: 1.5rem;
  padding:20px;}

.caption{
  margin-top: 40px;
  text-align: center;
  padding:20px 50px;
}

.caption2{
  position: relative;
  margin-top: 40px;
  text-align: center;
  padding:20px 50px;
  left:45%;
  top:100px
}

.caption3{
  position: relative;
  margin-top: 40px;
  text-align: center;
  padding:20px 50px;
  left:45%;
  top:-40px
}

.caption4{
  position: relative;
  margin-top: 40px;
  text-align: center;
  padding:20px 50px;
  left:45%;
  top:-115px
}




.caption .border{
  background-color:white;
 
  color: #fe1393;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: 'Orbitron';
  font-weight: bold;
  
  border:1px solid #CCC;
  background: #04091a;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
/*   padding: 5px; */
  text-align: center;


    
  
}

/* .bigContainer{
  max-width: 1125px;
  padding: 0 80px;
  width:  50%;
  margin: 0 auto
} */

.bigContainer{
 /* position: absolute; */
}

@media (min-width: 1160px){
  .bigContainer{
   max-width: 1330px;
  padding: 0 80px;
  
  margin: 0 auto
  }
  
}
.videoMobile{
  
  display: none;
}
@media (max-width: 700px){
  .videoMobile{
      display: block;
      
  }

  .caption2 {
    left:38%
    
    }
  
}


@media only screen and (max-width: 1172px) {
  .hideElement{
    display: none;
  }

}