.joinCommunityContainer{
    background-image: url("../public/Banner-Join-Our-Discord-Website-min.png") ;
    position: relative;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    
    min-height:100vh;
  /*  background-size:100%; */
  
    /* clip-path: polygon(0 0,100% 0,100% 88%,50% 100%,0 88%); */
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 40px;
 font-family: 'Orbitron';
 font-weight: bold;

}

/* button */

.imgJoinCommunity{
    width:100%;
    height:800px;
    object-fit:cover;
    object-position:0px -100px;
}
@media screen and (max-width: 700px){
    .imgJoinCommunity{
        width:100%;
    height:500px;
    object-position:0px -100px;
    }
}

@media screen and (min-width: 2000px) and (max-width: 3000px){
    .imgJoinCommunity{
        width:100%;
    height:2000px;
    object-position:0px -100px;
    }
}
/* @media screen and (min-width: 700px){
    .imgJoinCommunity{
        width:100%;
        height:400px;
        object-fit:cover;
        object-position:0px -100px;
    }
}
 */
.glowOnHover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
   position: relative;
   bottom:200px;
    border-radius: 10px;
    z-index: 1000000000000;
    
}

.glowOnHover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowOnHover:active {
    color: #000
}

.glowOnHover:active:after {
    background: transparent;
}

.glowOnHover:hover:before {
    opacity: 1;
}

.glowOnHover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}