.bgimg{
  /*   position: relative;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
     */
   /* 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-position: center center;  */

       /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
 /*  background-color:#464646;
   */
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

.metadollContainer{
    background-color: rgb(250,182,255);
    padding-top:0px;
    margin:0px;
}

.bgimg{
    background-image: url("../public/principalBanner.png") ;
  /*  min-height: 120vh;  */
   /*  min-height: 80vh; */
   min-height: 80vh;
  
  

    
  /*   bottom: 0; */
    /* clip-path: polygon(0 0,100% 0,100% 88%,50% 100%,0 88%); */
    
   
    /* padding: 0 0 0 0; */
}

.caption{
    position: absolute;
    right: 0px;
    top:70%;
    width: 100%;
    text-align: center;
    color:#000;
   
  
    
}

.metaText{
    text-align: center;
    position: absolute;
    left: 0;
    top: 65%;
    width:100%;
    font-weight: bold;
    color: #eff0f6;
    font-family: 'Orbitron';
    font-size: 25px;
    padding:20px;
}
   


.caption .border{

    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font-family: 'Orbitron';
    /* display:inline-block; */
   /*  color:#444; */
    /* border:1px solid #CCC; */
  /*   background:#DDD; */
  /*   box-shadow: 0 0 5px -1px rgba(0,0,0,0.2); */
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
  /*   padding: 5px; */
    text-align: center;

    
}

.caption .border:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

/*edward*/
.titHedaderPrincipal{
    position: relative; 
}
/*edward*/

@media screen and (min-width:500px) and (max-width:1400px) and (min-height:500px) 
and (max-height:700px){
   /*  .bgimg{background-size: 80%}  */
}
@media screen and (min-height:400px) 
and (max-height:1400px) and (min-width:1100px) and (max-width:2000px){
   /*  .bgimg{background-size: 51%}  */
}
@media screen and (min-height:873px) 
and (max-height:1400px) and (min-width:2000px) and (max-width:3400px){
    /* .bgimg{background-size: 45%}  */
}
@media screen and (min-height:400px) 
and (max-height:873px) and (min-width:2000px) and (max-width:3400px){
   /*  .bgimg{background-size: 20%}  */
}
/* @media screen 
  and (min-width: 451px) 
  and (max-width: 650px){
} */
@media (max-width: 600px){
    .metaText{
        font-size: 20px;
        top: 65%;
    }
   /*  .metaText{
        position: absolute;
    
        width: 250px;
        font-size: 14px;
        color: white;
        text-align: center;
    } */
.caption{

}
    
.caption .border{
    background-color: #111;
    color: #fff;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 10px;
  
}
.imgMetadoll{
    width: 100%;
    height: 90vh;
    -o-object-fit: cover;
    object-fit: cover;
    bottom: 0;

}


}




/* For mobile devices */
@media only screen and (max-width: 767px) {
    .bgimg {
      /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections */
       background-image: url("../public/Metadoll-005-min.png") ;
    }

   

    .caption{
        position: absolute;
        right: 0px;
        top:60%;
        width: 100%;
        text-align: center;
        color:#000;
       
      
        
    }
      }


      
.glowOnHover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: 'Orbitron';
    font-weight: bold;
    font-size: larger;
}

.glowOnHover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowOnHover:active {
    color: #000
}

.glowOnHover:active:after {
    background: transparent;
}

.glowOnHover:hover:before {
    opacity: 1;
}

.glowOnHover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}