.bgimg,
.bgimg1,
.bgimg2{
    position: relative;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
   bottom: 0px;
    
}

.metadollContainer{
    background-color: #01030d
}

.bgimg{
    background-image: url("../public/Metadoll-005.png") ;
  /*  min-height: 120vh;  */
   /*  min-height: 80vh; */
   min-height: 80vh;
  /*  background-size:100%; */
   
  

    object-fit: cover;
    bottom: 0;
    clip-path: polygon(0 0,100% 0,100% 88%,50% 100%,0 88%);
    
   
    padding: 0 0 0 0;
}

.caption{
    position: absolute;
    left: 0;
    top: 85%;
    width: 100%;
    text-align: center;
    color:#000;
   
  
    
}

.metaText{
    text-align: center;
    position: absolute;
    left: 0;
    top: 65%;
    width:100%;
    font-weight: bold;
    color: #eff0f6;
    font-family: 'Orbitron';;
    font-size: 25px;
    padding:20px;
}
   


.caption .border{

    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font-family: 'Orbitron';;
    /* display:inline-block; */
   /*  color:#444; */
    /* border:1px solid #CCC; */
  /*   background:#DDD; */
  /*   box-shadow: 0 0 5px -1px rgba(0,0,0,0.2); */
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
  /*   padding: 5px; */
    text-align: center;

    
}

.caption .border:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}



@media (max-width: 600px){
    .metaText{
        font-size: 20px;
        top: 65%;
    }
   /*  .metaText{
        position: absolute;
    
        width: 250px;
        font-size: 14px;
        color: white;
        text-align: center;
    } */

    
.caption .border{
    background-color: #111;
    color: #fff;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 10px;
}
.imgMetadoll{
    width: 100%;
    height: 90vh;
    -o-object-fit: cover;
    object-fit: cover;
    bottom: 0;

}


}


@media only screen and (min-width: 1000px) and (max-width: 3000px){


    .bgimg{
       
       background-size:60%;
    }

    
    .metaText{
        text-align: center;
        position: absolute;
        left: 20%;
        top: 60%;
        width:60%;
        font-weight: bold;
        color: #ffffff;
        font-family: 'Orbitron';;
        font-size: 25px;
     
        
    }
}