
.navbar{
   
   z-index: 100000;
   position: relative;
}
.menuLogo{
    width: 15px;
    height: 15px;
   
}


.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color:white
    /* rgba(255, 165, 0, 0.73); */
   /*  background-color:white;
    color: white; */
}

.navbar li {
    list-style-type: none;
    padding: 1.5rem;
}

.navbar a {
    text-decoration: none;
    color:black
}


.navbarLogo{
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
    color: black;
    font-family: fantasy;

}

.navbarToggle{
   display: none;

}



/* .navbarLinks:hover{
    background-color:  cyan;
    
} */

.titlelink{
    font-size: 2;
    color: rgb(0, 162, 255)
    
}

/* @media (max-width: 600px){
    .navbar ul{     
        flex-wrap: wrap;
    }
    .navbarToggle{
        display: block;
    }
    .navbarLinks{
        width: 100%;
        text-align: center;
        display:none
    }
} */


@media (max-width: 600px){
    .navbar ul{     
        flex-wrap: wrap;
    }
    .navbarToggle{
        display: block;
    }
    .navbarLinks{
        width: 100%;
        text-align: center;
        display:none
    }
    .navbarLinks2{
        width: 100%;
        text-align: center;
        display:block
    }

    .navbar li {
        list-style-type: none;
        padding: 1rem;
    }
    .navbar{
       
     }
    /* .discordButton{
        width: 100%;
        text-align: center;
    } */
    
}
.frameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: -8px;
     background: #e0e5ec;
  }
.frame{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: fit-content;
    position: relative;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001,
     inset 0px 0px 0px 0px #fff9,
     inset 0px 0px 0px 0px #0001,
     inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
     border-radius: 10px;
  }

/* .discordButton{
    
    background: linear-gradient(to right,#1796FA,#5983a5) ;
    padding: 8px;
    border-radius: 50px ;
    color: black;
    font-weight: bold;
    min-width: 150px;
    
} */

