.terrain{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
   
    
}

.cubix{
    height: 37.5px;
    width: 50px;
    background-color: black;
}

.cubix2{
    height: 37.5px;
    width: 50px;
    background-color: red;
}