@media (max-width: 1160px){
    .metavid{
        display: none;
    }
    
  }

  .metavid{
      padding-top: 350px;
  }


.RoadMapContainer{
    background-color:black;
   /*  background-color:#01030d; */
   flex-direction: row;
    display: flex;
    padding: 0 40px;
   margin: 10px;
   
}
.RoadMapTitle{
    font-family: 'Orbitron';
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
   
}


.RoadMapIntro{
    color: white;
    font-family: 'Orbitron';
    text-align: center;
    width: 67.7%;
    margin-left: 11.11%

   
    
}

.numerStyle{
    font-family: 'Orbitron';
    background: linear-gradient(
        90deg
        ,#fe1393,#ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left; 
    font-size: 1.2rem;
    font-weight: bold;
 
}

.descriptionStyle{
    font-family: 'Inconsolata';
    text-align: left; 
     color: white;
     width: 67.7%;
    margin-left: 11.11%
}

.RoadMapSteps{
    background-color: #04091a;
    /* padding: 30px;
    margin: 10px; */

    padding: 20px;

    /* display: block; none */
}

.buttonEmail{
    background-color:rgb(175, 190, 217) ;
}

.input {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #04091a;
   /*  background-image: url('searchicon.png'); */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    font-family: 'Orbitron';
  }
  
  .input:focus {
    width: 100%;
  }

  .numerStyleSpecialCase{
    font-family: 'Orbitron';;
    
            text-align: left; 
    font-size: 1.2rem;
    font-weight: bold;
  }

  .descriptionStyleSpecialCase{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Orbitron';
    text-align: left; 
  }
