.teamContainer{
  background-color:#04091a;
  margin:0 40px;
  position:relative;
  top:40px
}

.teamContainer2{
  background-color:transparent;
  margin:0 40px;
  position:relative;
  top:40px
}

/* top:-700px;
  margin-bottom:-800px; */
/* @media (max-width: 1200px) {
  .teamContainer{
   
    top:-560px;
    margin-bottom:-600px;
  }
} */

.logitos{
  height: 35px;
  width: 35px;
  margin-right: 20px;
}
.titleTeam{
font-family: 'Orbitron';
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    
}
.gridCoiner {
  /* background-color:#01030d; */
    background-color:black;
   
    /* padding: 0 40px; */
  margin:0px;
  display: grid;

 /*  padding: 0 40px; */
  }
  .memberTeamInfo {
    background-color: #04091a;
    color: white;
    padding: 1rem;
    
    text-align: left;
    flex-direction: row;
    display: flex;
   
    padding: 20px;
   
  }

  .circleImg {
    border-radius: 100%;
    width:40px;
    height: 40px;
   
  }

  .descriptionContainer{
    margin-left: 25px;
  }
  .description1{
 
    
     font-family: 'Orbitron';
    
     text-align: left;
     
     color: rgb(175, 190, 217);
    }
  .description{

    text-align: left;
    
    font-family: 'Inconsolata';
    
     width: 90%;
   
    }
 
  
 
    @media (max-width:600px) {
        
    }
@media (min-width: 600px) {
  .gridCoiner { grid-template-columns: repeat(2, 1fr); }
  
}
/* @media  only screen and (min-height: 1200px) and (max-height: 2200px) {
  .teamContainer{
   
    
  }
} */
/* 

@media  only screen and (min-height: 1200px) and (max-height: 2200px) {
  .teamContainer{
   
    top:-560px;
    margin-bottom:-600px;
  }
}
@media only screen and (min-height: 700px) and (max-height: 820px){
  .teamContainer{
    top:-580px;
    margin-bottom:-800px;
  }
}
@media only screen and (min-height: 893px) and (max-height: 1000px){
  .teamContainer{
    top:-620px;
    margin-bottom:-800px;
  }
}
@media only screen and (min-height: 1000px) and (max-height: 1100px){
  .teamContainer{
    
    top:-300px;
    margin-bottom:-500px;
  }
  
  
}
@media only screen and (min-height: 1100px) and (min-width:1200px){
  .teamContainer{
    
    top:-300px;
    margin-bottom:-500px;
  }
  
  
}

@media (min-width: 900px) {
    .gridCoiner { grid-template-columns: repeat(3, 1fr); }
  } */