.titleTeam{
font-family: 'Orbitron';
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    
}
.gridCoiner {
  /* background-color:#01030d; */
    background-color:black;
   
    /* padding: 0 40px; */
  margin:0px;
  display: grid;

 /*  padding: 0 40px; */
  }
  .memberTeamInfo {
    background-color: #04091a;
    color: white;
    padding: 1rem;
    
    text-align: left;
    flex-direction: row;
    display: flex;
   
    padding: 20px;
   
  }

  .circleImg {
    border-radius: 100%;
    width:40px;
    height: 40px;
   
  }

  .descriptionContainer{
    margin-left: 25px;
  }
  .description1{
    font-family: 'Orbitron';;
  
    
     font-family: 'Orbitron';
    
     text-align: left;
     
     color: rgb(175, 190, 217);
    }
  .description{
    font-family: 'Orbitron';;
    text-align: left;
    
     font-family: 'Orbitron';
    
     width: 90%;
   
    }
 
  
 
    @media (max-width:600px) {
        
    }
@media (min-width: 600px) {
  .gridCoiner { grid-template-columns: repeat(2, 1fr); }
  
}

@media (min-width: 900px) {
    .gridCoiner { grid-template-columns: repeat(3, 1fr); }
  }