.metadollDescriptionContainer {
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #bdc3c8;
 padding-left:30px;
 padding-right: 30px;
}



.imgMetadoll {
  max-width: 40%;
  height: auto;
  max-height: 500px;
  border-radius: 30px;
  margin:50px;
  padding: 1px;
  z-index: 1000000;
  border-radius: 17px;
background: #d0d6dc;
box-shadow:  -5px 5px 10px #535658,
             5px -5px 10px #ffffff;


}


.descriptionDoll{
  font-family: fantasy;
  flex: 1;
  font-size: 25px;
  bottom:10px;
  min-width: 100px;
  color: black;
}
/* 
.descriptionDoll2{
  font-family: fantasy;
  position: absolute;
  z-index: 1;
  font-size: 2vw;
  top:315px;
  left:70px;
  max-width: 100%;
  height: auto;
  color: #b82921;
} */

@media (max-width: 600px){
  
.descriptionDoll{
  font-size: 0.6rem;
  width: 200px;
  position: relative;
  z-index: 10000000000000001;
  bottom:20px;
  left:20px;
  color:black;
  font-family: sans-serif;
  font-weight: bold;
  
}
/* .imgMetadoll0{
  max-height: 150px;
}
.imgMetadoll{
  max-height: 150px;
}
.imgMetadoll1{
  max-height: 150px;
} */
}